/target/
.DS_Store

#project config
/src/test/resources/com/sunnysuperman/sskvcache/test/test.properties

#eclipse
/.classpath
/.project
/.settings/

#idea
/.idea
*.iml

# virtual machine crash logs
hs_err_pid*
